$codeBackground: #eee;
$menuActiveColor: #000;

@import '../bower_components/bootstrap/scss/bootstrap.scss';

@mixin clearblock() {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@function text-color($color) {
  @if (lightness($color) > 70) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

$link-color: blue;
$noteBackground: white;
$refBlockMargin: 24px;
$tagColor: black;

$buttonColor: #e6832b;
button {
  background: $buttonColor;
  color: text-color($buttonColor);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid darken($buttonColor, 10%);
  cursor: pointer;

  &:hover {
    background: lighten($buttonColor, 10%);
  }
  &:active {
    background: $buttonColor;
    box-shadow: 0 1px 3px -1px black inset;
  }
}

.releases {
  @include clearblock;
}

.release {
  padding: 10px;
  background: blue;
  color: white;
  float: left;
  clear: both;
  border-radius: 3px;
  width: 300px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
}

.release + .release {
  margin-top: 10px;
}

main {
  padding: 20px 0;
}

nav {
  display: block;
  color: #888;

  ul, img, .navbar-text {
    float: left;
    line-height: 68px;
  }

  .nav-link {
    padding: 0 !important;
  }

  .saying {
    margin-left: 20px;
  }
}

@include media-breakpoint-down(sm) {
  nav .saying {
    margin: 0;
    padding: 0;
    line-height: 25px;
    clear: both;
  }
}
