$mainColor: #1384ee;

@import '../bower_components/bootstrap/scss/bootstrap.scss';

@mixin clearblock() {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@function text-color($color) {
  @if (lightness($color) > 70) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

$link-color: blue;
$noteBackground: white;
$refBlockMargin: 24px;
$tagColor: black;

$buttonColor: #e6832b;
button {
  background: $buttonColor;
  color: text-color($buttonColor);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid darken($buttonColor, 10%);
  cursor: pointer;

  &:hover {
    background: lighten($buttonColor, 10%);
  }
  &:active {
    background: $buttonColor;
    box-shadow: 0 1px 3px -1px black inset;
  }
}

.releases {
  @include clearblock;
  padding-bottom: 10px;
}

.release {
  padding: 10px;
  background: #1384ee;
  color: white;
  float: left;
  clear: both;
  border-radius: 3px;
  width: 300px;
  max-width: 100%;
  opacity: 0.7;

  span {
    float: right;
    opacity: 0.7;
  }

  &:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
}

.archive.releases {
  font-size: 13px;

  .title {
    font-weight: bold;
  }

  .release {
    line-height: 15px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.release + .release {
  margin-top: 10px;
}

$headerHeight: 60px;
header {
  background: $mainColor;
  color: white;
  display: block;
  height: $headerHeight;
  line-height: $headerHeight;

  .home, .title {
    float: left;
  }

  .title {
    margin: 0 20px;
  }
}

main {
  padding-top: 20px;
}

body {
  background: #f5f5f5;
  font-size: 15px;
}

nav {
  display: block;
  border-radius: 0 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  height: 100%;

  $logoPadding: 10px;
  $logoHeight: 40px; // $headerHeight - ($logoPadding * 2);
  img {
    height: $logoHeight;
    position: relative;
    top: ($headerHeight / 2) - ($logoHeight / 2);
    max-width: 100%;
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }
}

@include media-breakpoint-down(sm) {
  header {
    height: 120px;

    .title {
      margin: 0;
      padding-top: 10px;
      display: block;
      clear: both;
    }
  }

  nav.navbar {
    padding-left: 0;
    padding-right: 0;
  }

  nav .saying {
    margin: 0;
    padding: 0;
    line-height: 25px;
    clear: both;
  }
}
